/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000b4;
}

a:hover{
     color: #c7a598;
}

/* INDEX */
/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF5E9;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.logo{
    width: 100px;
    height: 80px;
    margin-left: 100px;
}

.navbar-menu{
    display: flex;
    gap: 15px;
    margin-right: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
body {font-family: Arial, Helvetica, sans-serif;}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: auto;
}

.imagen {
    height: 400px;
    width: 600px;
}


.biografia {
    width: 450px;
}